```/Users/vaishnav/Documents/Projects/Recommendation System/.gitignore

venv/
.venv/
.ropeproject/
.test_files
oruse-aws-key-1.pem
SteamChart Data/
.old_files/
static/
templates/
applist.json
intro.py
scraper_*.*

__pycache__/
*.pyc
.idea/      # For PyCharm/IntelliJ
.vscode/    # For VS Code
*.iml       # IntelliJ IDEA module files
.DS_Store   # macOS system file

# Local configuration files
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Test/Coverage reports
.coverage
.coverage.*
htmlcov/
.nox/

# PyInstaller/Dist-specific files
build/
dist/
*.spec

# Data files (not for committing to repo)
data_games/
